:root{
    --secondary-color:#838485;
    --main-color:#000;
    --primary-color:#fff;
    --third-color:#9BAFF7;
    --accent-color:#3760EF;
    --secondary-fonts: 'Inter', sans-serif;
}
html{
    font-size: 16px;
}
body{
    color:var(--main-color);
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    
}